@import "tailwindcss";
@import "./theme.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#root {
  position: relative;
  z-index: 0;
}
